<section>
  <h1>HEADER</h1>
  <div><a href="/">ANA SAYFA</a></div>
  <div class="toggle-container">
    <div class="toggle-theme">
      <input type="checkbox" id="theme-toggle" />
      <label for="theme-toggle">
        <span class="toggle-sun">
          <img src="../../public/sun.svg" width="13" height="13" alt="Güneş" />
        </span>
        <span class="toggle-moon">
          <img src="../../public/moon.svg" width="13" height="13" alt="Ay" />
        </span>
        <span class="toggle-slider"></span>
      </label>
    </div>
  </div>
  <div><a class="catalog-button" href="../../catalog.html">CATALOG</a></div>
  <div><a href="../../mylibrary.html">LIBRARI</a></div>
</section>
