<header class="">
  <div class="">
    <a href="">
      <div class="">
        <picture>
          <img class="" alt="logo" />
        </picture>
        <div class="">Cinemania</div>
      </div>
    </a>
    <nav class="">
      <ul class="">
        <li class="">
          <a href="" class="">HOME</a>
        </li>
        <li class="">
          <a href="" class="">CATALOG</a>
        </li>
        <li class="">
          <a href="" class="">MY LIBRARY</a>
        </li>
      </ul>
      <div class="">
        <a href="">
          <picture>
            <img />
          </picture>
        </a>
        <ul class="">
          <li class="">
            <a href="" class="">HOME</a>
          </li>
          <li class="">
            <a href="" class="">CATALOG</a>
          </li>
          <li class="">
            <a href="" class="">MY LIBRARY</a>
          </li>
        </ul>
      </div>
    </nav>
    <button>MENU</button>
    <div class="">
      <span class=""></span>
      <div class="">
        <svg width="14" height="14" class="">
          <use href=""></use>
        </svg>
      </div>
      <div class="">

        </label>

        <svg width="14" height="14" class="">
          <use href=""></use>
        </svg>
      </div>
    </div>
  </div>
  <div></div>
</header>
<script src="../js/theme.js"></script>
