.gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0.7) 60%,
    rgba(0, 0, 0, 0) 80%
  );
}

.image {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 26%;
}

#movies-image-container {
  height: 380px;
}

#movies-description-container {
  position: absolute;
  top: 40px;
  left: 20px;
  z-index: 10;
  gap: 20px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero-movies-container {
  position: relative;
  height: 380px;
  overflow: hidden;
}

.movie-desc {
  color: white;
  font-size: 1.4rem;
  width: 200px;
}

.stars-container {
  color: white;
  list-style: none;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 3px;
}
.stars-container svg{
  height: 16px;
  width: 16px;
}

.movie-title {
  color: white;
  font-size: 3.2rem;
}

.hero-movie-buttons {
  display: flex;
  gap: 8px;
}

.star-icon-empty{
  stroke:var(--brend-color) ;
  fill: transparent;
}

.star-icon-full{
  fill: var(--brend-color-rgba);
  stroke:var(--brend-color) ;
}

.star-icon-half{
  fill: transparent;
  stroke:var(--brend-color) ;
}