@import url("libraryList.css");
@import url("libraryList-tablet.css");
@import url("libraryList-tablet.css");
@import url("libraryList.css");

#myLibrary{
    margin: 0 auto;
}

#film-category{
width: 100px;
}

#library-list{
    display: flex;
    flex-wrap: wrap;   
    list-style: none;
    justify-content: space-around;  /* Add spacing between items */
    padding: 0;
    margin: 0;
}

#library-list li{
    width: calc(33.33% - 20px);  /* Each list item takes 1/3 of the row with some space in between */
    margin-bottom: 20px;  /* Add space between rows */
    box-sizing: border-box; 
    height: 325px;
}

img{
    width: 100%;
}

.img-film{
    width: 100%;
    height: 100%;   
}

.img-for-film{
    width: 65%;
   }



.description-film{
    display: flex;
    gap:10px;
    font-size: 11px;
    line-height: 1;
}
#film-genre{
    font-size: 11px;
    line-height: 1.5;
}
.film-title{
    margin-bottom: 29px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}
.about-ul{
    list-style: none;
    padding: 0;
}

.headers-content{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
.stats-content{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.div-vote{
    text-align: center;
    text-transform: uppercase;
    color: var(--grey-text-color);
    background-color: #fff;
    border-radius: 5px;
    padding: 1px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}
#about-header{
    text-transform: uppercase;
    color: var(--modal-keys-color);
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
.about-text{
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 20px;
}

.div-for-film{
    display: grid;
    grid-template-columns: 25rem 1fr;
    position: fixed;  /* Ekranda sabit durmasını sağlar */
    grid-gap:20px;
    top: 50%;         /* Yatayda ortalamak için */
    left: 50%;        /* Dikeyde ortalamak için */
    transform: translate(-50%, -50%);  /* Gerçek ortalamayı sağlar */
    z-index: 1001;    /* Üstte görünmesini sağlar */
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 12px rgba(208, 104, 44, 0.1);
    border-radius: 8px;
    width: 80%;       /* İçeriğin genişliğini ayarlar, isteğe bağlı */
    max-width: 600px; /* Maksimum genişliği ayarlar */
 
  }

.about-li{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-bottom: 1rem;
}

.content-for-film{
    display: grid;
    grid-template-columns: 150px 2fr;
}

.content-for-film img{
    width: calc(50%-5px);
}

.content-div {
    color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%; /* Ekrana göre uyum sağlamak için */
    height: 100%;
    overflow: auto; /* İçerik sığmazsa kaydırma ekler */
  }
  
  .img-for-film {
    width: 100%;
    height: 100%; 
    object-fit: fill; /* Resmi div boyutuna göre kırparak orantıyı korur */
    border-radius: 8px; 
  }

.close-button{
    height: auto;
    border: 1px solid var(--brend-color);
    color: #fff;
    cursor: pointer;
    background-color: #111;
    border-radius: 74px;
    margin-top: 20px;
    padding: 12px 24px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    transition: color .25s cubic-bezier(.4,0,.2,1), background-color .25s cubic-bezier(.4,0,.2,1);
    display: block;
    width: 190px;
}

.about{
    text-transform: uppercase;
    color: var(--modal-keys-color);
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.close-screen{
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: box-shadow .25s var(--cubic), scale .25s var(--cubic);
    background-color: #0000;
    border: none;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 16px;
}
