<section>
  <div>
    <div class="search_conteiner">
      <input type="text" placeholder="film" id="movieName" />
      <div>
        <select placeholder="year" id="movieYear" hidden="none"></select>
      </div>
      <button id="searchButton">
        <img src="src\svg\searchdark.svg" alt="Icon" />
      </button>
    </div>

    <div id="results">
      <!-- catalog bölümüdeki filmlerin olduğu alan -->
    </div>
  </div>
  <script src="/src/js/searchbar.js"></script>
  <script src="/src/js/listmovie.js"></script>
</section>
