<section class="popup-section-container">
  <div class="popup-section">
    <button class="close-btn">
      <svg class="close-svg" width="30" height="30">
        <use href="../../svg/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="popup-container">
      <div class="popup-afis">
        <img src="../../img/John Wick.png" class="afis-img" />
      </div>

      <div class="popup-content">
        <h2 class="film-title">John Wick: Chapter 4</h2>

        <div class="film-details">
          <div class="film-stats">
            <p>Vote / Votes</p>
            <p>Popularity</p>
            <p>Genre</p>
          </div>

          <div class="film-rating">
            <p class="vote-container">
              <span class="vote">7.3</span> / <span class="vote">1260</span>
            </p>
            <p>100.2</p>
            <p class="film-genre">Action Thriller Crime</p>
          </div>
        </div>
      </div>

      <div class="film-about-container">
        <div class="film-about-content">
          <h3 class="film-about">ABOUT</h3>
          <p class="film-about-title">
            John Wick (Keanu Reeves) takes on his most lethal adversaries yet in
            the upcoming fourth instalment of the series. With the price on his
            head ever increasing, John Wick uncovers a path to defeating The
            High Table. But before he can earn his freedom, Wick must face off
            against a new enemy with powerful alliances across the globe and
            forces that turn old friends into foes.
          </p>
        </div>

        <button type="button" class="film-btn orange-button">
          Add to my library
        </button>
      </div>
    </div>
  </div>
</section>
