<section class="popup-section-container">
  <div class="popup-section">
    <button class="close-btn">
      <svg class="close-svg" width="24" height="24">
        <use href="../../svg/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="popup-content-container">
      <img src="../../img/John Wick.png" class="afis-img" />

      <div class="popup-film-info">
        <div class="popup-film-content">
          <h2 class="film-title">John Wick: Chapter 4</h2>

          <ul class="film-details">
            <li>
              <p>Vote / Votes</p>
              <p>Popularity</p>
              <p>Genre</p>
            </li>

            <li>
              <p class="description-container">
                <span class="vote-description">7.3</span> /
                <span class="vote-description">1260</span>
              </p>
              <p class="description">100.2</p>
              <p class="description genre">Action Thriller Crime</p>
            </li>
          </ul>
        </div>

        <div class="popup-film-about-title">
          <h3 class="film-about">ABOUT</h3>
          <p class="film-about-title">
            John Wick (Keanu Reeves) takes on his most lethal adversaries yet in
            the upcoming fourth instalment of the series. With the price on his
            head ever increasing, John Wick uncovers a path to defeating The
            High Table. But before he can earn his freedom, Wick must face off
            against a new enemy with powerful alliances across the globe and
            forces that turn old friends into foes.
          </p>
        </div>
        <button type="button" class="film-btn orange-button">
          Add to my library
        </button>
      </div>
    </div>
  </div>
</section>
