@import url('searchbar.css');
@import url('searchbar-tablet.css');
.search_conteiner {
  display: flex;
  justify-content: center; /* Yatayda ortalama */
  align-items: center; /* Dikeyde ortalama */
  height: 17.6rem;
  top: 100rem;
}
#movieName {
  height: 4.8rem;
  width: 31.5rem;
  border-radius: 0.8rem;
  border: 0.1rem;
  border-color: #ffffff;
}
#movieYear {
  height: 4.8rem;
  width: 9.5rem;
  border-radius: 0.8rem;
  border: 0.1rem;
  border-color: #ffffff;
  margin-left: 2rem;
}
#searchButton {
  height: 4.8rem;
  width: 4.8rem;
  margin-left: 2rem;
  border-radius: 50%;
}
