/*  Mobil - min-width: 480px */

#movieName {
  width: 22.4rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--main-gray-color);
  padding: 1rem 2rem;
}

#movieYear {
  color: var(--main-gray-color);
  width: 9.5rem;
  height: 4rem;
  border-radius: 0.8rem;
  padding: 1.2rem 2rem;
}
#searchButton {
  width: 4rem;
  height: 4rem;
}

.search_conteiner {
  display: flex;
  justify-content: center; /* Yatayda ortalama */
  align-items: center; /* Dikeyde ortalama */
  gap: 12px;
  margin-top: 80px;
  width: 100%;
  font-family: Roboto;
  color: var(--main-text-color);
}
#movieName {
  width: 31.5rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--main-gray-color); /* border color included in border */
}

#searchButton {
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
  fill: var(--main-background);
}