#catalog-movie-gallery {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
}

.catalog-movie-card {
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  position: relative; /* Bu, kartın içindeki elemanları konumlandırmamıza izin veriryor */
  transition: transform 0.3s;
  transform: scale(0.99);
}

.catalog-movie-card:hover {
  transform: scale(1.05);
}

.catalog-movie-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.catalog-movie-rating {
  fill: #f89f19ad;
}

.catalog-movie-poster {
  width: 100%;
  height: auto;
}

.catalog-movie-title {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.catalog-movie-details {
  font-size: 14px;
  color: #ccc;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pagination-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.page-numbers {
  display: flex;
  align-items: center;
  gap: 8px;
}

.page-number {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9000;
  border-radius: 50%;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.pagi-svg path {
  stroke: var(--main-gray-color);
  fill: transparent;
}

.page-number svg text {
  font-size: 12px;
  fill: white;
}

.page-number.active {
  background-color: #222;
}

.page-number:hover {
  background-color: #f60;
  transition: background-color 0.3s ease;
}

@media only screen and (max-width: 1024px) {
  #movie-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  #movie-gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .pagination {
    max-height: fit-content;
  }
}

@media only screen and (max-width: 480px) {
  #movie-gallery {
    grid-template-columns: 1fr; /* Mobilde tek sütun */
  }
}
